.container_delete_product{
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background-color: #0860b4;
    background-image: linear-gradient(to right, #040f50 0%, #0860b4  51%, #040f50  100%);
}
.container_card_delete_product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-bottom: 10px;
}
.card_delete_product{
    background-color: #fff;
    width: 250px;
    min-height: 250px;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(228, 53, 53, 0.2);
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
    transition: all 0.25s;
    display: flex;
    flex-direction: column;
}
.card_delete_product h6{
    font-size: 18px;
}
.card_delete_product p{
    margin: 0;
    margin-top: auto;
}
.card_delete_product img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.card_delete_product button{
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin-top: 8px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background-color: rgb(0, 106, 255);
}
.card_delete_product button:hover{
    background-color: rgb(233, 6, 6);
}
.productNotFound{
    background-color: #fff;
    border-radius: 20px;
    margin: 50px 0;
    padding: 0 30px;
}
.productNotFound h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin: auto;
    line-height: 100px;    
}